
body {
    margin:5;
    background-color:#333;
    
}
/*inicio menu*/
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 99%;
  }
  
  ul.topnav li {
    float: right;
  }
  
  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #04AA6D;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
/* final menu*/

/*Inicio quem sou*/
  #welcome-section{
    text-align: center;
    padding:20px;
    margin-top:30px;
    background-color:#a8dfd8;
    height:500px;
}

/*final quem sou*/

/*Inicio do projetos*/

.h1projetos{
text-align: center;
}
#projects{
    padding:20px;
    margin-top:0px;
    background-color:#658dd8;
    height:500px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 50px 0;
    font-size: 100px;
  }
  
  .item1 { grid-area: 1 / 3 / 2 / 4; }
  .item2 { grid-area: 2 / 3 / 3 / 4; }
  .item3 { grid-area: 1 / 1 / 2 / 2; }
  .item4 { grid-area: 1 / 2 / 2 / 3; }
  .item5 { grid-area: 2 / 1 / 3 / 2; }
  .item6 { grid-area: 2 / 2 / 3 / 3; }



/*Final dos projetos*/
#rodape{
    padding: 10px;
    margin-top: 0px;
    background-color:#8d661f;
    height:250px;
}
/*Final do rodape*/

